{% block title %}Edition du Profil{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

	<fieldset>
		<div class="row">
			<div class="col-xs-10">
				<legend>
					Edition de vos informations
					<small> 
						{{user.getLibelle}}
					</small>
				</legend>
			</div>
			<div class="col-xs-2">
				<a href="{{path('showUser',{'id':user.getUser})}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			</div>
		</div>
		<div class="row col-md-12">
			<form class="form-horizontal" method="POST" action="">
				<div class="form-group">
				  <label class="control-label" for="email">Email</label>  
				  <input id="email" name="email" type="email" placeholder="" class="form-control input-md" type="text">
				  <span class="help-block">Si vous voulez changer votre adresse mail, veuillez remplir ce champ</span>  
				</div>

				<!-- Password input-->
				<div class="form-group">
				  <label class="control-label" for="mdp">Mot de Passe</label>
				    <input id="mdp" name="mdp" placeholder="" class="form-control input-md" type="password">
				    <span class="help-block">Si vous souhaitez modifier votre mot de passe, veuillez le noter ici.</span>
				</div>

				<div class="form-group">
				  <label class="control-label" for="v_mdp">Verification MDP</label>
				    <input id="v_mdp" name="v_mdp" placeholder="" class="form-control input-md" type="password">
				    <span class="help-block">Juste histoire de vérifier que vous ne vous êtes pas trompé en tapant votre premier mot de passe.</span>
				</div>

				<div class="form-group">
				  <label class="control-label" for="a_mdp">Ancien Mot de Passe</label><div class="label label-info">Attention pour toute modification, ce champ est OBLIGATOIRE !</div>
				    <input id="a_mdp" name="a_mdp" placeholder="" class="form-control input-md" type="password" required>
				    <span class="help-block">Votre mot de passe actuel, pour vérifier que c'est bien vous !<span>
				</div>

				<!-- Button -->
				<div class="form-group">
				    <button id="" name="" class="btn btn-success btn-block" style="font-weight:bold;">Modifier mes informations</button>
				</div>
			</form>
		</div>
	</fieldset>

{% endblock %}