{% block title %}Connexion{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.message|trans({'Bad credentials': 'Login ou mot de passe incorrect'}) }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">Rester connecté</label>

        <input type="hidden" name="_target_path" value="/" />


        <button type="submit">Go</button>
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#username").focus();
    </script>
{% endblock %}
