body {
	font-family: sans-serif;
}

.ligne_classement {
	position: relative;
	height: 100px;
	background: #eee;
	width: 600px;
}

.ligne_classement:nth-child(2n) {
	background: #ddd;
}

.pochette_cd {
	background: #ddd;
	width: 100px;
	height: 100px;
}

.pochette_cd img {
	width: 100px;
	height: 100px;
	position: absolute;
	opacity: 0.8;
}

.pochette_cd:hover img {
	opacity: 1;
}

.pochette_cd a {
	color: none;
	text-decoration: none;
}

.rank_cd {
	color: white;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 5px;
	-webkit-text-stroke: 1px black;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	border-radius: 20px;
	padding: 5px;
}

.new_cd {
	background: #5cb85c;
}

.informations_cd {
	position: relative;
	top: -100px;
	left: 100px;
	padding: 5px;
	max-height: 95px;
}

.ecoute {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #000f28;
}

.ecoute:hover {
	background: #5c0909;
}

.ecoute img {
	width: 100px;
}

a {
	color: grey;
	text-decoration: none;
}

label {
	color: white;
	font-size: 10px;
	font-weight: bold;
	border-radius: 3px;
	display: inline;
	padding: 3px;
	position: relative;
}

.success {
	background: #5cb85c;
}

.plus, .minus {
	position: absolute;
	top: 0px;
	right: 100px;
}

.infos {
	background: #666;
	color: #ddd;
	width: 394px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 100px;
	display: none;
	padding: 3px;
	font-size: 10pt;
}

.doc:hover .infos {
	display: visible;
}
