body {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

.page {
	width: 210mm;
	height: 297mm;
}

.vignette {
	display: inline-block;
	width: 70mm;
	height: 37mm;
	margin-right: -4px;
}

.vignette .head {
	height: 10mm;
	width: 65mm;
	padding: 2mm;
}

.vignette .head h1 {
	font-size: 4mm;
	margin: 0mm;
}

.vignette .head h2 {
	font-size: 3mm;
	margin: 0px;
}

.vignette .head span {
	font-size: 3mm;
}

.vignette .extra {
	position: relative;
}

.vignette .extra .infos {
	border: 1px solid black;
	border-right: none;
	font-size: 3mm;
	margin: 1mm 2mm;
	padding: 1mm;
	width: 38mm;
}

.vignette .extra .identification {
	position: absolute;
	top: 0mm;
	right: 2mm;
	width: 23mm;
	height: 20mm;
}

.vignette .extra .identification .num {
	font-size: 5mm;
	font-weight: bold;
}

.vignette .extra .identification .logo img {
	position: absolute;
	bottom: 0mm;
	max-width: 23mm;
	max-height: 6mm;
}

